<a href="https://colab.research.google.com/github/Swat2498/Finalproject_selenium/blob/main/Python_list_%26_Dictinory_coding_assignment_Swati_Borse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

? Write a program to find duplicate values from the list

In [4]:
list=[22,34,22,55,7,55,7,3,4,9,12,34,5]
print('to duplicate list')
for i in range (0,len(list)):
 for j in range (i+1,len(list)):

  if (list[i]==list[j]):
    print(list[i])

to duplicate list
22
34
55
7

? Write a program to remove duplicates from the list

In [17]:
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [15]:
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list

In [16]:
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

? Write syntax and one example for lambda function

In [ ]:
#syntax
lambda argument:expression

In [20]:
d=lambda x:x*2
d(5)
d(7)

14

In [23]:
s=lambda a,b: if a>b else bprint("The biggest no is:" s(10,100))

SyntaxError: invalid syntax (<ipython-input-23-9c2d100fcc69>, line 1)

Write one example for list comprehension

In [26]:
'''
syntax
output_list=[output_exp for var in input_list if (var satisfies this condition)]
'''

output_list_com=[var for var in input_list if var%2==0]
print(output_list_com)

[2, 4, 6, 8]

? How to find elements that are common in two lists

In [27]:
a = [1, 2, 3, 4, 5]
b = [5, 2, 6, 3, 9]

result = [i for i in a if i in b]

print("The common elements are:", result)

The common elements are: [2, 3, 5]

In [28]:
a = [1, 2, 3, 4, 5]
b = [5, 2, 6, 3, 9]

result = (set(a) & set(b))

if result:
   print("The common elements are:", result)
else:
   print("No common elements present in two arrays")

TypeError: 'set' object is not callable

In [31]:
lst = [1,2,3,4]

# evaluating empty list object to False
if not lst:
   print('Empty list')
else:
   print('List is not Empty \n',lst)

List is not Empty
 [1, 2, 3, 4]

In [32]:
lst = []

# Checking whether the list size is equal to 0
if lst.__len__() == 0:
   print('Empty list')
else:
   print('Not Empty list')

Empty list

How to find max or min number from a list

In [33]:
l1=[1,5,66,7,8,20,12]
maximum=max(l1)
print("the mazximum no of the list",maximum)

the mazximum no of the list 66

In [34]:
l1=[1,5,66,7,8,20,12]
minimum=min(l1)
print("the minimum no of the list is:", minimum)

the minimum no of the list is: 1

 How to concatenate two lists by using python

In [1]:
list=['banana','rose','lily','jasmin']
list2=[1,2,3,4]
temp=list+list2
print(temp)

['banana', 'rose', 'lily', 'jasmin', 1, 2, 3, 4]

Find a particular value present or not and print its count

In [5]:
list=['swati','is ','data enfineer',14,'package']
print('swati' in list)
count=list.count('swati')
print(count)

True
1

In [6]:
colors = ['red', 'blue', 'green', 'blue', 'yellow']
if colors.count('blue') > 0:
    print("Element found!")
else:
    print("Element not found.")

Element found!

 Swap the first and last element of a list

In [7]:
colors = ['red', 'blue', 'green', 'blue', 'yellow']
swap=colors[::-1]
print(swap)

['yellow', 'blue', 'green', 'blue', 'red']

In [8]:
lst = [23, 100, 54, 56, 98]

lst[0], lst[-1] = lst[-1], lst[0]

print(lst)

[98, 100, 54, 56, 23]

How to convert two lists into a dictionary

In [12]:
colors = ['red', 'blue', 'green', 'blue']
list=['banana','rose','lily','jasmin']
convert=dict(zip(colors,list))
print(convert)

{'red': 'banana', 'blue': 'jasmin', 'green': 'lily'}

In [13]:
#using list comprehension
index = [1, 2, 3]
languages = ['python', 'c', 'c++']

dictionary = {k: v for k, v in zip(index, languages)}
print(dictionary)

{1: 'python', 2: 'c', 3: 'c++'}

How to merge two dictionaries

In [20]:
item={'red': 'banana', 'blue': 'jasmin'}
lang={1: 'python', 2: 'c', 3: 'c++'}
total=({**item ,**lang})
print(total)

{'red': 'banana', 'blue': 'jasmin', 1: 'python', 2: 'c', 3: 'c++'}

In [21]:
item={'red': 'banana', 'blue': 'jasmin'}
lang={1: 'python', 2: 'c', 3: 'c++'}
item2=lang.copy()
item2.update(lang)
print(item2)

{1: 'python', 2: 'c', 3: 'c++'}

Write a triangle pattern program

In [22]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print()

Enter number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [23]:
# print half pyramid a using numbers
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print(j+1, end=" ")
    print()

Enter number of rows: 8
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

In [24]:
#: Program to print half pyramid using alphabets
rows = int(input("Enter number of rows: "))

ascii_value = 65

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end=" ")

    ascii_value += 1
    print()

Enter number of rows: 6
A
B B
C C C
D D D D
E E E E E
F F F F F F

In [25]:
# Inverted half pyramid using
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(0, i):
        print("* ", end=" ")

    print()

Enter number of rows: 5
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [26]:
#to print full pyramid using *
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")

    while k!=(2*i-1):
        print("* ", end="")
        k += 1

    k = 0
    print()

Enter number of rows: 4
      *
    * * *
  * * * * *
* * * * * * *

In [27]:
#Floyd's Triangle
rows = int(input("Enter number of rows: "))
number = 1

for i in range(1, rows+1):
    for j in range(1, i+1):
        print(number, end=" ")
        number += 1
    print()

Enter number of rows: 6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21